
<!-- @for (item of languages; track $index) {

    @if ($first) {
        <h2>First Item : {{item}}</h2>
    }
   
    <p>{{$index+1}} items : {{item}}</p>

    @if ($last) {
        <h2>Last Item : {{item}}</h2>
    }
} -->
<!-- 
@for (item of languages; track $index) {

    <p [style.background]="$even ? 'orange' : 'green' " >
        {{item}}
    </p>
} -->

@for (item of languages; track $index) {

    <p>
        Index: {{ $index }}
        Count: {{ $count }}
        First: {{ $first }}
        Last: {{ $last }}
        Even: {{ $even }}
        Odd: {{ $odd }}
        Value: {{ item }}
    </p>

}